main {
    height: 10px;
}

.animal-adotar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    margin: 0 auto;
    max-width: 1700px;
}

#titulo {
    margin-bottom: 30px;
    font-size: 50px
}


#cabecalho-adotar {
    margin-top: 30px;
    
}

#cabecalho-adotar1 {
    margin: 0 auto;
    max-width: 1700px;
    background-color: #F7A2CB;
    border-radius: 15px;
    box-shadow: 0px 2px 20px rgb(125, 125, 125);
    padding: 60px;
}

#filtro {
    background-color: #79B6E3;
    padding: 10px;
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 20px rgb(125, 125, 125);
}

#filtro-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

#filtro select{
    margin-right: 10px;
    width: 30%;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-family: Roboto;
}

#submit-filtro {
    background-color: #F7A2CB;
    font-size: 1.5rem;
    padding: 5px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid black;
    transition: 500ms;
    color: black;
    
}

#submit-filtro:hover {
    cursor: pointer;
    background-color: white;
}

@media(max-width: 950px) {
    #filtro-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 5px;
        gap: 10px;
    }

    #filtro select{
        margin-right: 0;
        width: 45%;
        font-size: 15px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        font-family: Roboto;
    }

    #cabecalho-adotar h1 {
        font-size: 2rem;
    }

    #cabecalho-adotar1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    #cabecalho-adotar {
        text-align: center;
    }
    
}


@media screen and (max-width: 768px) {
    #footer_content{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
@media screen and (max-width: 426px) {
    #footer_content{
        grid-template-columns: repeat(1,1fr);
        padding: 3rem 2rem;
    }
}


