body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cabecalho-cadastraranimal {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
 
}

#cabecalho-cadastraranimal1 {
    background-color: #F7A2CB;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(125, 125, 125);
}

#formulario-container {
    background-color: #79B6E3;
    width: 800px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
    margin-bottom: 5%;
}


.titulo2{
    align-items: center;
    justify-content: center;
    color: black;
}

#cad-label{
    color: black;
}


.coluna {
    display: inline-block;
    width: 48%; 
    vertical-align: top;
}

label {
    display: block;
    margin-top: 10px;
    
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 5px;
}

#submit-animal {
    text-align: center;
    margin-top: 20px; 
}

input[type="submit"] {
    background-color: #F7A2CB;
    color: black;
    padding: 15px 30px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
#submit:hover {
    background-color:#Fff;
}