.cad-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
    color: black;
}



.cadastro-container {
    width: 100%; /* Reduza a largura para ocupar toda a largura da tela */
    max-width: 400px; /* Defina uma largura máxima */
    margin: 0 auto; /* Centralize o formulário horizontalmente */
    padding: 20px; /* Adicione margens internas para afastar o conteúdo das bordas */
    background-color: #79B6E3;
    border: 1px solid black;
    display: flex;
    flex-direction: column; /* Alinhe verticalmente os elementos */
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10%;
}

#registro {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#registro > form {
    font-size: 20px;
    border-radius: 30px;
}

#registro > form > h1 {
    margin-bottom: 50px;
    text-align: center;
}

#registro > form > input {
    margin-bottom: 10px;
    float: right;
    height: 20px;
    border-radius: 5px;
    font-size: 20px;
}


#solid {
    margin-top: 20px;
}


#solid input:hover {
    box-shadow: none;
}

#registro a {
    margin-top: 20px;
    text-align: center;
    display: block;
}

#titlecad {
    text-align: center;
 }

 .cadastro-form input[type="text"],
 .cadastro-form input[type="email"],
 .cadastro-form input[type="tel"],
 .cadastro-form input[type="password"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 350px;
    background-color: white;
    color: black;
 }

 .password-toggle {
    position: relative;
}

.password-toggle input[type="password"] {
    padding-right: 20px; 
    border-radius: 10px;
}

.password-toggle .toggle-btn {
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
    right: 5px; 
    cursor: pointer;
}

button {
    cursor: pointer;
    margin-bottom: 10px;
}
button:active {
    opacity: 1.0;
}

button[disabled]{
    opacity: 0.7;
}

.solid {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: #FEDA00;
    box-shadow: 0px 2px  rgb(125, 125, 125);
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
}

.error {
    color: white;
    background-color: red;
    display: none;
}

@media screen and (max-width: 768px) {
    #footer_content{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
@media screen and (max-width: 426px) {
    #footer_content{
        grid-template-columns: repeat(1,1fr);
        padding: 3rem 2rem;
    }

    .cadastro-container {
        width: 100%;
    }

    #registro > form {
        width: 100%;
    }

    #registro > form > input {
        width: 100%;
        float: right;
    }

    .cadastro-form {
        width: 100%;
    }

    .cadastro-form input[type="text"],
    .cadastro-form input[type="email"],
    .cadastro-form input[type="tel"],
    .cadastro-form input[type="password"] {
    padding: 10px;
    width: 100%;
 }
}

