main {
    height: 40vh;
}

input, button {
    padding: 10px;
}


button {
    cursor: pointer;
    margin-bottom: 10px;
}
button:active {
    opacity: 1.0;
}

button[disabled]{
    opacity: 0.7;
}


.form-field{
    margin-bottom: 10px;
}

.cad-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
}

.login-container {
    width: 300px;
    max-width: 500px; 
    height: 500px; 
    background-color: #79B6E3;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 35%;
}

#registro {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#registro > form {
    font-size: 20px;
    padding: 10px 100px 10px 100px;
    border-radius: 10px;
}

#registro > form > h1 {
    margin-bottom: 50px;
    text-align: center;
}

#registro > form > input {
    margin-bottom: 10px;
    float: right;
    height: 20px;
    border-radius: 5px;
    font-size: 20px;
}



.outline {
    background: #FEDA00;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 2px  rgb(125, 125, 125);
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%; 
    height: 100%;
    font-size: 20px;
}


.solid {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: #FEDA00;
    box-shadow: 0px 2px  rgb(125, 125, 125);
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.clear {
    background: none; 
    color: blue; 
    text-decoration: none;
    cursor: pointer; 
    border: none; 
    outline: none; 
}


.newpassword {
    text-align: center;
}

.entrar input:hover {
    box-shadow: none;
}

#registro a {
    margin-top: 20px;
    text-align: center;
    display: block;
}

#titlelogin {
    text-align: center;
 }

 .login-div input[type="email"],
 .login-div input[type="password"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 100%;
}

.error {
    color: white;
    background-color: red;
    display: none;
}




