main {
    height: 10vh;
}

#cabecalho-mural {
    margin-top: 30px;
    margin-bottom: 10px;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cabecalho-mural1 {
    background-color: #F7A2CB;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 2px 20px rgb(125, 125, 125);
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1500px;
    margin: 0 auto;
    grid-gap: 30px;
}

.card {
    background-color: #79B6E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 30px;
    box-shadow: 3px 3px 5px #00000061;
    border-radius: 10px;
}

.card:hover {
    transform: scale3d(1.1, 1.1, 1);
}

.card .user {
    width: 250px;
    height: 250px;
    border-radius: 5%;
    object-fit: cover;
}

 .container {
    display: flex;
    align-items: center;
    padding: 10px;
}

#titulo {
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem 0;
    font-size: 50px
}

#user {
    padding: 10px;
    font-size: 25px
}

p {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

@media(max-width: 950px) { 
    .cards {
        grid-template-columns: 1fr;
    }

    .card .user {
        width: 300px;
        height: 300px;
    }
}