.cad-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
}

.perfil-container {
    width: 400px;
    max-width: 500px; 
    height: 600px; 
    background-color: #79B6E3;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5%;
}

#perfil-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
    margin-bottom: 15px;
    
}


.sair {
    background-color: white;
    font-size: 1.5rem;
    padding: 1%;
    width: 250px;
    border-radius: 5px;
    border: 1px solid red;
    transition: 500ms;
    color: red;
}

.sair:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

#perfil-section > form {
    width: 500px;
    font-size: 20px;
    padding: 10px 100px 10px 100px;
    border-radius: 10px;
}

#perfil-section > form > h1 {
    margin-bottom: 50px;
    text-align: center;
}

#perfil-section > form > input {
    margin-bottom: 10px;
    float: right;
    height: 20px;
    border-radius: 5px;
    font-size: 20px;
}

#mandar {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#mandar input {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: #FEDA00;
    box-shadow: 0px 2px  rgb(125, 125, 125);
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
}

#regis {
    text-decoration: none; 
    color: #000;
    border-radius: 5px;
    width: 100%;
    background-color:#ffd900;
    box-shadow: 0px 1px  rgb(125, 125, 125);
    margin-bottom: 5px;
    font-size: 20px;
    text-decoration: none; 
}


#mandar input:hover {
    box-shadow: none;
}

#perfil-section a {
    margin-top: 20px;
    text-align: center;
    display: block;
}

#titlelogin {
    text-align: center;
    color: pink;
 }

.perfil-foto{
    width: 100px;
    height: 100px;
    align-items: center;
    margin: 0 auto;
}


.perfil-form input[type="text"],
.perfil-form input[type="email"],
.perfil-form input[type="tel"],
.perfil-form input[type="password"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 250px;
    background-color: white;
    color: black;
 }

 .editar {
    background: transparent;
    height: 20px;
    display: flex;
    position: relative;
    bottom: 30px;
    left: 220px;
 }

 .editar:hover {
    cursor: pointer;
 }

 .editar img {
    height: 100%
 }

 .fundoModal {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .modalEditarNome {
    background-color: #79B6E3;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
 }

 .modalEditarNome input {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 250px;
    background-color: white;
    color: black;
 }

 .modalEditarNome .botaoFechar {
    background: transparent;
    width: 30px;
    position: relative;
    top: -40px;
    left: 142px;
 }

 .modalEditarNome .botaoFechar:hover {
    cursor: pointer;
 }

 .modalEditarNome .botaoFechar img {
    width: 100%;

 }

 .modalEditarNome .botaoSalvar {
    margin-top: 10px;
    background-color: white;
    font-size: 1.5rem;
    padding: 1%;
    width: 250px;
    border-radius: 5px;
    border: 1px solid ;
    transition: 500ms;
    background-color: #F7A2CB;
}

.modalEditarNome .botaoSalvar:hover {
    cursor: pointer;
    background-color: white;
}

.formNome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formTel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}