main {
    height: 40vh;
}

.cad-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
}

.perfileditar-container {
    width: 400px;
    max-width: 500px; 
    height: 600px; 
    background-color: #79B6E3;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5%;
}

#perfileditar-section {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#perfilditar-section > form {

    font-size: 20px;
    padding: 10px 100px 10px 100px;
    border-radius: 10px;
}

#perfileditar-section> form > h1 {
    margin-bottom: 50px;
    text-align: center;
}

#perfileditar-section > form > input {
    margin-bottom: 10px;
    float: right;
    height: 20px;
    border-radius: 5px;
    font-size: 20px;
}

#mandar {
    margin-top: 20px;
    text-align: center;
}

#mandar input {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: #ffd900;
    box-shadow: 0px 2px  rgb(125, 125, 125);
    margin-bottom: 5px;
    font-size: 20px;
}

#mandar2 {
    margin-top: 20px;
    text-align: center;
}

#mandar2 input {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: #e60000;
    box-shadow: 0px 2px  rgb(125, 125, 125);
    margin-bottom: 5px;
    margin-top: 90px;
    font-size: 20px;
}


#mandar input:hover {
    box-shadow: none;
}

#perfileditar-section a {
    margin-top: 20px;
    text-align: center;
    display: block;
}

#titlelogin {
    text-align: center;
    color: pink;
 }

.perfil-foto{
    width: 100px;
    height: 100px;
    align-items: center;
    margin: 0 auto;
}

.perfileditar-form input[type="text"],
.perfileditar-form input[type="email"],
.perfileditar-form input[type="tel"],
.perfileditar-form input[type="password"] {
   padding: 10px;
   border: 1px solid #000000;
   border-radius: 10px;
   width: 100%;
   background-color: white;
   color: black;
}