main {
    height: 40vh;
}


.cad-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
}

.recuperarsenha-container {
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#registro {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#registro > form {
    background-color: #79B6E3;
    font-size: 20px;
    padding: 10px 100px 10px 100px;
    border: 1px solid black;
    border-radius: 10px;
}

#registro > form > h1 {
    margin-bottom: 50px;
    text-align: center;
}

#registro > form > input {
    margin-bottom: 10px;
    float: right;
    height: 20px;
    border-radius: 5px;
    font-size: 20px;
}

#mandar {
    margin-top: 20px;
    text-align: center;
}

#mandar input {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: #FEDA00;
    box-shadow: 0px 2px  rgb(125, 125, 125);
    margin-bottom: 5px;
    font-size: 20px;
}

#mandar input:hover {
    box-shadow: none;
}

#registro a {
    margin-top: 20px;
    text-align: center;
    display: block;
}

#titlerec {
    text-align: center;
 }

.recuperarsenha-form input[type="email"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 100%;
}