.animal-adotar{
    display: grid ;
    justify-content: space-between;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
   row-gap: 10px;
   column-gap: 10px;
}
.filtro{
    background-color: #F7A2CB;
    
}

@media screen and (max-width: 900px) {
    .animal-adotar{
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
    }
}