.animal-adotar{
    display: grid ;
    justify-content: space-between;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
   row-gap: 10px;
   column-gap: 10px;
}
#filtro{
    display: inline-block;
    padding: 20px 20px;
    background-color: #F7A2CB; /* Cor de fundo rosa */
    color: white; /* Cor do texto branca */
    border: 1px solid black; /* Borda rosa */
    border-radius: 10px; /* Cantos arredondados */
    cursor: pointer;
    margin: 10px;
}

@media screen and (max-width: 900px) {
    .animal-adotar{
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
    }
}