main {
    height: 30vh;
}

.cad-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cadastro-container {
    Width: 400px;
    Height: 500px;
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px; 
}

#registro {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#registro > form {
    font-size: 20px;
    padding: 10px 100px 10px 100px;
    border-radius: 30px;
}

#registro > form > h1 {
    margin-bottom: 50px;
    text-align: center;
}

#registro > form > input {
    margin-bottom: 10px;
    float: right;
    height: 20px;
    border-radius: 5px;
    font-size: 20px;
}


#mandar {
    margin-top: 20px;
    text-align: center;
}
#mandar input {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: orange;
    border: 1px solid black;
    margin-bottom: 5px;
    font-size: 20px;
}

#mandar input:hover {
    box-shadow: none;
    background-color: white;
}

#registro a {
    margin-top: 20px;
    text-align: center;
    display: block;
}

.cad-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#titlecad {
    text-align: center;
 }

.cadastro-form input[type="text"],
.cadastro-form input[type="email"],
.cadastro-form input[type="tel"],
.cadastro-form input[type="password"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 100%;
}