.animal {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    padding: 20px;
    width: 325px;
    height: 450px;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: #79B6E3;
    border-radius: 15px;
}

.animal:hover {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 1px;
}

.animal img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 15px;
}

.animal .nome {
    min-width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.animal button {
    padding: 5%;
    font-size: 18px;
    background-color: #F7A2CB;
    border: none;
    border-radius: 5px;
    transition: 500ms;
}

.animal button:hover {
    cursor: pointer;
    background-color: white;
}

.animal .regiao {
    font-size: 18px;
}

@media(max-width: 950px) {
    .animal {
        width: 200px;
        height: 310px;
    }
    .animal .nome {
        font-size: 13px;
        font-weight: bold;
    }

    .animal .regiao {
        font-size: 13px;
    }

    .animal button {
        padding: 5%;
        font-size: 13px;
        background-color: #B6C137;
        border: none;
        border-radius: 5px;
    }
}