* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Austie Bost;
    src: url(../AustieBostKittenKlub.ttf);
}

root {
    --azul-claro: #2582D8;
    --cinza-claro: rgb(197, 196, 196);
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2582D8;
    height: 60px;
    font-family: Austie Bost;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 120%;
    
}

header a:hover {
    color: orange;
}

header > ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header ul li {
    padding: 10px;
}

#log > li:first-child {
    border-right: 1px solid orange;
}

#navbar > li {
    padding: 25px;
}

img[src*="logo"] {
    height: 40px;
}

/*Footer*/

footer {
    background-color:#2582D8;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 250px;
}

.footer1 {
    width: 320px;
    min-height: 150px;
    padding: 20px;
}

.footer1:nth-child(4) {
    width: 400px;
}

.footer1 h1 {
    margin-bottom: 10px;
}

.footer1 ul li {
    margin: 10px 0px;
    list-style: none;
}

.footer1 ul li a{
    color: black;
    text-decoration: none;
}

.footer1 ul li a:hover {
    color: orange;
}

#baixo {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #2582D8;
}

#baixo .sociais {
    display: flex;
    gap: 10px;
}

.social img {
    width: 40px;
    height: 40px;
    
}

@media(max-width: 950px) {
    footer {
        flex-direction: column;
    }
    footer .footer1 {
        width: 100%;
        text-align: center;
    }
    footer .footer1:nth-child(4) {
        width: 100%;
    }
}